################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RPI.WiringPiWrapper/DesignTimeBuild
/.vs/RPI.WiringPiWrapper/v15/Server/sqlite3
/RPI.WiringPiWrapper/bin
/RPI.WiringPiWrapper/obj
/RPI.WiringPiWrapper/publish
/RPI.WiringPiWrapper/tools
/RPI.WiringPiWrapper.Tests/bin/Debug/netcoreapp2.0
/RPI.WiringPiWrapper.Tests/obj/Debug/netcoreapp2.0
/RPI.WiringPiWrapper.Tests/obj
/RPI.WiringPiWrapper.Runner/bin/Debug/netcoreapp2.0
/RPI.WiringPiWrapper.Runner/obj
